#onepageContact .alert.alert-success {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

#onepageContact .alert.alert-danger {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}